.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}
.mostrar{
  display: flex;
  width: 90vw;
  margin:auto;

}
.conten-mostrar{
  margin: 10px;
}
.form_input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  margin: auto;
  width:200px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus{ outline:none; }
.label-conten{
  font-size: 1.5em;
  font-weight: 900;
}
.btn{
  margin: 10px;
  width: 250px;
  height: 40px;
  font-size: 1.3em;
  color: #fff;
  background-color: #5abccc;
  border: 3.5px solid #000;
  box-shadow: 5px 5px 2px  #000;
}
.container{
  display: flex;
  justify-content: space-evenly;
}
.form{
  padding: 10px 30px;
  width: 300px;
  margin: 10px;
  margin-top: 10px;
  border: 2px solid #000;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


